*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0; padding: 0;
}

body {
  min-height: 100vh;
}

h1, p {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  margin: -1px; padding: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px; height: 1px;
}